@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #1f1000;
  --primary-color-light: #bd7c3c;
  --secondary-color: #ff9830;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border-style:var(--white);
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}


img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url(Gambar/Web4.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  padding: 12rem 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

.pengaduan__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.pengaduan__container :is(.section__header, .section__subheader) {
  text-align: left;
}

.pengaduan__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}

.pengaduan__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}

.pengaduan__card:last-child {
  border: none;
}

.pengaduan__card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.pengaduan__card p {
  font-size: 0.9rem;
}

.pengaduan__image img {
  max-width: 370px;
  margin: auto;
}

.konseling {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.konseling__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.konseling__card {
  max-width: 320px;
  margin: auto;
}

.konseling__card:nth-child(2) {
  transform: translateY(5rem);
}

.konseling__card:nth-child(4) {
  transform: translateY(5rem);
}

.konseling__image {
  position: relative;
}

.konseling__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.konseling__card__content {
  padding: 0 2rem;
  transform: translateY(-50%);
  font-size: 15px;
}

.konseling__card__content h7 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--secondary-color);
}

.konseling__card__content p {
  margin-bottom: 2rem;
}

.konseling__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
}

.hukum__container {
  padding: 5rem 0;
}

.hukum__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.hukum__card {
  position: relative;
}

.hukum__card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.hukum__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
}

.hukum__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
}


 .informasi h4 {
  display: -webkit-box;
  -webkit-line-clamp:5;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }

.informasi__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.informasi__content {
  padding: 2rem;
  height: 320px;
  background-color: var(--primary-color-light);
}



.informasi__img img {
  object-fit: cover;
  height: 200px;
}

.informasi__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.informasi__author img {
  max-width: 30px;
  border-radius: 100%;
}

.informasi__author p {
  font-size: 0.9rem;
  opacity: 0.75;
}

.informasi__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.informasi__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.informasi__footer p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.informasi__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}

.informasi__btn {
  margin-top: 4rem;
  text-align: center;
}

.hero__container p {
  text-align: center;
  font-size: 9rem;
  font-weight: 700;
  background-image: url("Gambar/Hero.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light);
}

.kegiatan__container {
  padding: 5rem 1rem;
}

.kegiatan__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.kegiatan__card {
  position: relative;
  overflow: hidden;
}

.kegiatan__content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.kegiatan__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.kegiatan__card:hover .kegiatan__content {
  bottom: 0;
}

.footer__container {
  text-align: center;
}

.footer__container h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer__socials span a {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials span a:hover {
  color: var(--secondary-color);
}

.footer__container p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 4rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--white);
}

.footer__link a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--extra-light);
}

@media (width < 900px) {
  .link:not(.search) {
    display: none;
  }

  .pengaduan__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .pengaduan__container :is(.section__header, .section__subheader) {
    text-align: center;
  }

  .pengaduan__image {
    grid-area: 1/1/2/2;
  }

  .konseling__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hukum__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .informasi__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .hero__container p {
    font-size: 10rem;
  }

  .kegiatan__grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (width < 600px) {




  .header__container {
    text-align: center;
  }

  .header__container h4 {
    margin-left: 0;
  }

  .pengaduan__card {
    border: none;
  }

  .konseling__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .konseling__card:nth-child(2) {
    transform: translateY(0);
  }

  .hukum__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .informasi__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero__container p {
    font-size: 6rem;
  }

  .kegiatan__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}


.button {
background-color: #bd7c3c;
font: 0.6rem sans-serif;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
margin-top: 1rem;
border-radius: 25px;
}

.input-form {
  width: 70%;
  margin: auto;
 
}

.input1{

  text-align: start;
 
}

.input1 label{
  font-size: 1rem;
}

.input1 input {
  width: 200px;
}

.input2 {
  display: flex;
  text-align: start;
}

.input2 label{
  font-size: 1rem;
}

.input2 input {
  width: 200px;
  text-align: start;
  margin-left: 20px;
}
